.App {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Partner-list-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80%;
}

.App-header {
  background-color: #282c34;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ProviderDetailView {
  float:right;
  width: 80%;
}

.PartnerList {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  border-right: solid 1px cornflowerblue;
}

.Provider-label {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #61dafb;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 80%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
